<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    </head>
    <body>
        <form method="POST" action="/registrationconfirm">
            <div class="box">
                <h1>Enter the OTP sent to your contact no.</h1>
                <input type="text" name="user_otp" placeholder="Enter OTP" class="email" />
                <input type="submit" value="Submit" class="btn">
            </div>
        </form>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    </body>
</html>
